
.heading{
    color: white;
    margin: 20px 5px;
    }
    .bg-image {
        /* The image used */
        background-image: url("survey.jpg");
      
        /* Add the blur effect */
        filter: blur(4px);
        -webkit-filter: blur(4px);
      
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      /* Position text in the middle of the page/image */
      .bg-text {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 15%;
        /* transform: translate(-50%, -50%); */
        z-index: 2;
        /* width: 30%; */
        padding: 20px 40px;
        text-align: center;
      }
    
    
      /* form */
    
      
            /* Styling the Body element i.e. Color, 
            Font, Alignment */ 
            body {
                background-color: #006a38;
                font-family: Verdana;
                text-align: center;
            }
     
            /* Styling the Form (Color, Padding, Shadow) */
            form {
                background-color: #fff;
                max-width: 500px;
                margin: 50px auto;
                padding: 30px 20px;
                box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
            }
     
            /* Styling form-control Class */
            .form-control {
                text-align: left;
                margin-bottom: 25px;
            }
     
            /* Styling form-control Label */ 
            .form-control label {
                display: block;
                margin-bottom: 10px;
            }
     
            /* Styling form-control input, 
            select, textarea */
            .form-control input,
            .form-control select,
            .form-control textarea {
                border: 1px solid #777;
                border-radius: 2px;
                font-family: inherit;
                padding: 10px;
                display: block;
                width: 95%;
            }
     
            /* Styling form-control Radio 
            button and Checkbox */
            .form-control input[type="radio"],
            .form-control input[type="checkbox"] {
                display: inline-block;
                width: auto;
            }
     
            /* Styling Button */
            button {
                background-color: #004726;
                border: 1px solid #777;
                border-radius: 2px;
                font-family: inherit;
                font-size: 21px;
                display: block;
                width: 100%;
                margin-top: 50px;
                margin-bottom: 20px;
                color: white;
                border-radius: 12px;
                padding: 10px ;
                transition: all 0.3s;
            }
    
            button:hover{
                color: #004726;
                background-color: white;
            }
    
            .greet{
                color: rgb(255, 255, 255);
            }
            .hidden{
                display: none;
            }